/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/**
 * These classes have lower specificity so we can override them
 * with utility classes
 */

body {
  @apply bg-teal-200;
}

@responsive {
  .full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }

  .reset-full-bleed {
    width: auto;
    margin-left: 0;
  }
}
/*! purgecss end ignore */

@tailwind utilities;

/**
 * Utility classes
 * These have higher specificity than component classes
 */
